html {
  background-color: rgb(124, 209, 166);
}

.App {
  text-align: center;
  justify-content: center;
}

.time-container {
  justify-content: center;
  display: flex;
}

.time {
  margin-top: 40px;
  background-color: rgb(255, 253, 238);
  margin-bottom: 0;
  font-size: 20px;
  border-radius: 18px;
  border: 3px solid rgb(46, 44, 44);
  width: 60px;
  padding: 1px;
}

.animal-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.animal {
  background-color: rgb(255, 253, 238);
  height: 180px;
  width: 250px;
  margin: 23px;
  padding: 10px;
  border-radius: 12px;
  border: 3px solid black;
  position: relative;
  text-align: center;
}

button {
  border-radius: 8px;
  height: 25px;
  margin: 5px;
  font-size: 14px;
}

.buttons {
  display: inline-flex;
}

p {
  margin: 5px;
}